{% extends 'base.html' %}

{% block title %}Razas - The Lord of the Rings{% endblock %}
{% block header %}Razas - The Lord of the Rings{% endblock %}
{% block content %}
<h2><a href="#" id="titulo_content">Razas del universo del Señor de los Anillos</a></h2>

{% if lista_razas %}
    <ul>
    {% for raza in lista_razas %}
        <li> 
            <a href="{% url 'raza' raza.id %}">{{ raza.nombre}}</a>
        </li>  
    {% endfor %}
    </ul>
    {% else %}
        <p>No existen razas.</p>
{% endif %}
{% endblock %}