{% extends 'base.html' %}

{% block title %}Portada - The Lord of the Rings{% endblock %}
{% block header %}Portada - The Lord of the Rings{% endblock %}

{% block content %}
<h2><a href="#" id="titulo_content">Portada - Las Razas y sus Primeros Personajes</a></h2>

{% if razas_con_personajes %}
    <ul>
    {% for item in razas_con_personajes %}
        <li>
            <strong>{{ item.raza.nombre }}</strong> - 
            {% if item.primer_personaje %}
                <a href="{% url 'personaje' item.primer_personaje.id %}">{{ item.primer_personaje.nombre }}</a>
            {% else %}
                No hay personajes
            {% endif %}
        </li>  
    {% endfor %}
    </ul>
{% else %}
    <p>No existen razas.</p>
{% endif %}
{% endblock %}
