{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Portada - El Señor de los Anilloss" %}{% endblock %}
{% block header %}{% trans "Portada - El Señor de los Anillos" %}{% endblock %}

{% block content %}
<h2><a href="#" id="titulo_content">{% trans "Portada - Las Razas y sus Primeros Personajes" %}</a></h2>

{% if razas_con_personajes %}
    <ul>
    {% for item in razas_con_personajes %}
        <li>
            <strong>{{ item.raza.nombre }}</strong> - 
            {% if item.primer_personaje %}
                <a href="{% url 'personaje' item.primer_personaje.id %}">{{ item.primer_personaje.nombre }}</a>
            {% else %}
                {% trans "No hay personajes" %}
            {% endif %}
        </li>  
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans "No existen razas." %}</p>
{% endif %}
{% endblock %}
