{% extends 'base.html' %}

{% block title %}Personajes - The Lord of the Rings{% endblock %}
{% block header %}Personajes - The Lord of the Rings{% endblock %}
{% block content %}
<h2><a href="#" id="titulo_content">Personajes del universo del Señor de los Anillos</a></h2>

{% if lista_personajes %}
    <ul>
    {% for personaje in lista_personajes %}
        <li> 
            <a href="{% url 'personaje' personaje.id %}">{{ personaje.nombre}}</a>
        </li>  
    {% endfor %}
    </ul>
    {% else %}
        <p>No existen personajes.</p>
{% endif %}
{% endblock %}