{% extends 'base.html' %}

{% block title %}{{ raza.nombre }} - The Lord of the Rings{% endblock %}
{% block header %}{{ raza.nombre }} - The Lord of the Rings{% endblock %}
{% block content %}
<h2><a href="#" id="titulo_content">{{ raza.nombre }}</a></h2>
<p>{{ raza.descripcion }}</p>

<h3>Personajes</h3>
{% if personajes %}
    <ul>
        {% for personaje in personajes %}
            <li><a href="{% url 'personaje' personaje.id %}">{{ personaje.nombre }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No tiene personajes asociados.</p>
{% endif %}
{% endblock %}
