body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #222;
    color: #fff;
    margin-top: 2rem;
}

main {
    padding: 2rem;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin-bottom: 0.5rem;
}
